extends layout
block content
	include bar
		block cont
			section#content
				.container
					.block-header
						h2 	Todos las promociones
					.card
						.card-header
							h2
								| Elija una opción
								small
									| En este apartado podrá generar códigos QR así como activar y editar promociones.
						.table-responsive
							table#data-table-promotions.table.table-striped
								thead
									tr
										th Nombre
										th Sucursal/Dirección
										th descripción
										th # de veces consumida
										th Opciones
								tfoot
									tr
										th Nombre
										th Sucursal/Dirección
										th descripción
										th # de veces consumida
										th Opciones
								tbody
									each val in data.promos
										tr
											if levelUser==1
												td=val.name
											if levelUser==0
												td
													a(href='/web/promotion/edit/'+val.id_promotion)=val.name
											td=val.name_branch+' / '+val.address
											td=val.description
											td=val.count
											td
												button.btn.btn-success(onclick='makeQR(this)' id='#{val.encrypt}') Crear QR
												&nbsp;
												if val.active==1
													button.btn.btn-danger(onclick='deletePromotion(this)' id='#{val.encrypt}' name='#{val.active}') Pausar
												else
													button.btn.btn-primary(onclick='deletePromotion(this)' id='#{val.encrypt}' name='#{val.active}') Activar
	// Modal
	#myModal1.modal.fade(role='dialog')
		.modal-dialog
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title QR Generado.
				.modal-body
					.row
						.col-md-12
							#qrcode
				.modal-footer
					button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar

	include footer
	script(src='/javascripts/js/allPromo_controller.js')