extends layout
block content
	include bar
		block cont
			- var prettyDate = function(i){return moment(i).format("DD/MM/YYYY");}
			section#content
				.container
					.block-header
						h2 Listado de todos las redenciones

					.card
						.card-header
							h2
								| REDENCIONES EN EMPRESAS
								small
									| En este apartado podrá visualizar las redenciones por empresas del resultado de la búsqueda.
						.table-responsive
							table#data-table-promos.table.table-striped
								thead
									tr
										th Nombre de la Empresa
										th Nombre del Egresado
										th Empresa de Egresado
										th Giro de la Empresa
										th Fecha de Visita
										th Número de Visitas
										th Descuentos brindados
										th Fecha de Inicio
										th Fecha de Fin
								tfoot
									tr
										th Nombre de la Empresa
										th Nombre del Egresado
										th Empresa de Egresado
										th Giro de la Empresa
										th Fecha de Visita
										th Número de Visitas
										th Descuentos brindados
										th Fecha de Inicio
										th Fecha de Fin
								tbody
									each val in data
										tr
											td=val.name
											td=val.name_student
											td
												if val.graduated==1
													| Sí
												if val.graduated==0
													| No
											td=val.business_type
											td #{prettyDate(val.date)}
											td=val.count
											td=val.name_promo
											td #{prettyDate(val.created_at)}
											td #{prettyDate(val.expired_at)}
					.card
						.card-header
							h2
								| Gráfica de Barras
								small
									| 
						.card-body.card-padding-sm
							#bar-chart1
					.card
						.card-header
							h2
								| Gráfica de Barras
								small
									| 
						.card-body.card-padding-sm
							#bar-chart2

	include footer
	script.
		var data = !{JSON.stringify(data)}; 
		console.log(data)
	script(src='/javascripts/js/graph2_controller.js')