extends layout
block content
	include bar
		block cont
			section#content
						.container
							.block-header
								h2 Configuración
							.card
								.card-header
									h2
										small
											| Aquí puedes modificar tus datos así como actualizar tu password
									br
									br
									form
									.row
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#business_name.form-control(type='text' name='business_name' value='#{business.name}' required)
													label.fg-label Nombre de la empresa
												small#business_nameError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#rfc.form-control(type='text' name='rfc' value='#{business.rfc}' required)
													label.fg-label R.F.C.
												small#rfcError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#phone.form-control(type='text' value='#{business.phone}' name='phone' required)
													label.fg-label Teléfono
												small#phoneError.help-block
									br
									small
										| Dirección:								
									br
									br
									.row
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-pin
												.fg-line
													input#street.form-control(type='text' name='street' value='#{business.street}' required)
													label.fg-label Calle
												small#streetError.help-block
										.col-md-2
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-n-1-square
												.fg-line
													input#external_number.form-control.input-mask(type='text' name='external_number' value='#{business.external_number}' required)
													label.fg-label Número externo
												small#external_numberError.help-block
										.col-md-2
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-n-2-square
												.fg-line
													input#internal_number.form-control.input-mask(type='text' name='internal_number' value='#{business.internal_number}')
													label.fg-label Número interno
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-map
												.fg-line
													input#postal_code.form-control.input-mask(type='text' name='postal_code' 
													value='#{business.postal_code}' required)
													label.fg-label Código Postal
												small#postal_codeError.help-block
									br
									br
									.row
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-gps-dot
												.fg-line
													input#suburb.form-control(type='text' name='suburb' value='#{business.suburb}' required)
													label.fg-label Colonia
												small#suburbError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-pin-drop
												.fg-line
													input#city.form-control.input-mask(type='text' name='city' required value='#{business.city}')
													label.fg-label Ciudad
												small#cityError.help-block
										.col-md-4.m-b-25
											.input-group.form-group
													span.input-group-addon
														i.zmdi.zmdi-view-toc
													select#state(name='state').selectpicker
														option(value='0') Estado
														for val in states
															if (val.id == business.state)
																option(value='#{val.id}' selected)=val.name
															else
																option(value='#{val.id}')=val.name
											small#stateError.help-block
									br
									br
									.row
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#facebook.form-control(type='text' name='facebook' value='#{business.facebook}')
													label.fg-label Facebook de la empresa
												small#facebookError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#twitter.form-control(type='text' name='twitter'  value='#{business.twitter}')
													label.fg-label Twitter de la empresa
												small#twitterError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#website.form-control(type='text' name='website'  value='#{business.website}')
													label.fg-label Website
												small#websiteError.help-block
									br
									br
									.row
										//.col-md-2.m-b-25
											.input-group.form-group
												.checkbox.m-b-15
													label
														input#external(type='checkbox', value='external', name='external')
														i.input-helper
														|Empresa externa
										.col-md-4.m-b-25
											.input-group.form-group
													span.input-group-addon
														i.zmdi.zmdi-view-toc
													select#business_type(name='business_type').selectpicker
														option(value='0') Giro de la empresa
														for val in business_type
															if (val.value == business.business_type)
																option(value='#{val.value}' selected)=val.value
															else
																option(value='#{val.value}' )=val.value
											small#business_typeError.help-block
										.col-md-4.m-b-25
											.input-group.form-group
													span.input-group-addon
														i.zmdi.zmdi-view-toc
													select#categorie(name='categorie').selectpicker
														option(value='0') Categoría de la Empresa
														for val in categories
															if (val.id == business.categorie)
																option(value='#{val.id}' selected)=val.name
											small#categorieError.help-block
										.col-md-4.m-b-25
											.input-group.form-group
													span.input-group-addon
														i.zmdi.zmdi-view-toc
													select#size(name='size').selectpicker
														option(value='0') Tamaño de la empresa
														for val in size_business
															if (val.value == business.size)
																option(value='#{val.value}' selected)=val.name
															else
																option(value='#{val.value}' )=val.name
											small#sizeError.help-block
									br
									br
									.row
										.col-md-4
											.form-group
												.fg-line
													textarea#discount_description.form-control(rows='3', placeholder='Describe tu promoción...' name='discount_description')=business.discount_description
													small#discount_descriptionError.help-block
										.col-md-4.m-b-25
											.input-group.form-group
												.checkbox.m-b-15
													label
														if business.graduated == 1
															input#graduated(type='checkbox', value='graduated' name='graduated' checked)
														else
															input#graduated(type='checkbox', value='graduated' name='graduated')
														i.input-helper
														h5 Empresa de egresado IBERO Puebla
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-lock
												.fg-line
													input#password.form-control(type='password' name='password')
													label.fg-label Password
												small#passwordError.help-block


									small
										| Datos de personal de contacto:
									br
									br
									.row
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#attendant_name.form-control(type='text' name='attendant_name' value='#{business.attendant_name}' required)
													label.fg-label Nombre
												small#attendant_nameError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#attendant_lastname.form-control(type='text' name='attendant_lastname' value='#{business.attendant_lastname}' required)
													label.fg-label Apellido Materno
												small#attendant_lastnameError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-account
												.fg-line
													input#attendant_second_lastname.form-control(type='text' name='attendant_second_lastname' value='#{business.attendant_second_lastname}' required)
													label.fg-label Apelido paterno
												small#attendant_second_lastnameError.help-block
									br
									br
									.row
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-email
												.fg-line
													input#email.form-control(type='email' name='email'  value='#{business.email}' required)
													label.fg-label Email
												small#emailError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-smartphone-android
												.fg-line
													input#mobile.form-control.input-mask(type='phone', name='mobile' value='#{business.mobile}' required)
													label.fg-label Celular
												small#mobileError.help-block
										.col-md-4
											.input-group.fg-float
												span.input-group-addon
													i.zmdi.zmdi-smartphone-android
												.fg-line
													input#address.form-control.input-mask(type='text', name='address' value='#{business.address}' required)
													label.fg-label Dirección
												small#addressError.help-block
									br
									.row
										.col-md-3
											input#id_business(type='hidden' value='#{business.id}')
										.col-md-3
											input#id_attendant(type='hidden' value='#{business.attendant_id}')
										.col-md-2
										.col-md-2
											button(onclick='clearForm()').btn.btn-danger.btn-icon-text
												i.zmdi.zmdi-close
												|  Limpiar		
										.col-md-2				
											button(onclick='postData()').btn.btn-primary.btn-icon-text
												i.zmdi.zmdi-check
												|  Aceptar

	include footer
	script(src='/javascripts/js/settings_controller.js')